$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

#desktop-view {
    @include desktop {
        width: 70%;
    }

    @include monitor {
        width: 60%;
    }
    margin: 0 auto;
    .categories {
        display: flex;
        flex-wrap: wrap;
    }
    .category-view {
        margin: 0 2vw 2vw 0;
        width: 29%;
        h3 {
            color: #27A1DA;
        }
        p {
            &:hover {
                text-decoration: underline;
                color: #27A1DA;
                cursor: pointer;
            }
        }
    }
}
