$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;
$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

$menu: 900px;

@mixin menu {
    @media (min-width: #{$menu}) {
        @content;
    }
}

$monitor: 1024px;

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

%navs {
    height: $navBarHeight;
    width: 100%;
    position: fixed;
    top: $navBarHeight;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 50;
}

%items {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0;
    min-width: fit-content;
    cursor: $pointer;
    color: color(mirage);
    height: available;
    font-weight: 300;
    .text {
        margin: 5px .625vw 0;
    }

    .active {
        background-color: color(curiosBlue);
        height: 5px;
        margin-top: 9px;
    }
}

%active {
    color: color(deepSeaGreen);
    font-weight: bold;
}

#nav-pane {
    @extend %navs;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 11vw;
    @include desktop {
        padding-left: 15vw;
    }
    @include monitor {
        padding-left: 21vw;
    }

    .pane-item {
        @extend %items;
        margin: 2vw;
        @include desktop {
            margin: 0 .75vw;
        }
        .active.hide {
            background-color: #ffffff;
        }
    }
    .pane-item.active {
        @extend %active;
    }
}

#nav-bar {
    @extend %navs;
    background-color: color(alabaster);
    top: 0;
    justify-content: space-around;

    .logo {
        display: inline-block; // can't apply max width without inline-block or block
        max-width: 90px; // propagate to all logos (avoids large width on IE)
        cursor: $pointer;
        margin: 5px 0;

        span svg:hover {
            transform: scale(1.1);
        }
    }

    .nav {
        display: none;

        .nav-item {
            text-decoration: none;
            @extend %items;
            margin: 0 .4375vw;
        }

        .nav-item:hover {
            font-weight: bold;
            color: color(deepSeaGreen);
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .nav-item.active:hover {
            text-shadow: none;
        }
        .nav-item.active {
            @extend %active;
        }
    }

    @include menu {
        .nav {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .toggle {
        display: flex;
        justify-content: flex-end;
        width: 6vh;
        line-height: 15px;
        padding: 0 8px 0 0;
        @include menu {
            display: none;
        }
        span svg{
            cursor: $pointer;
        }
        span{
            fill: color(mirage);
            cursor: $pointer;
        }
    }

    .pulse {
        background-color: #EEEEEE;
        border-radius: 50%;
        transform: scale(1);
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    button {
        background-color: #0071A5;
        color: color(white);
    }

    .toggle span svg:hover {
        transform: scale(1.1);
    }
}
