$desktop: 768px;
$monitor: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
}

%hidden {
    display: none;
    @include desktop {
        display: block;
    }
}

#search-box {
    width: 100%;
    background: #EEEEEE;
    padding: .125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
        padding: 1.75vw 2vw;
    }
    @include monitor {
        padding: 1.5vw 2vw;
    }
    #search-title {
       @extend %hidden;
        @include desktop {
            font-size: 1.75rem;
        }
        @include monitor {
            font-size: 2.25rem;
        }
        font-weight: 300;
    }
    #search-lead {
        color: #ACA9A9;
        font-weight: 300;
        @extend %hidden;
    }
}

#search-group {
    display: flex;
    margin: 4vh 0;

    @include desktop {
        margin: 1.5vh 0 2.5vh;
    }
    @include monitor {
        margin: 3vh 0 4vh;
    }

    #search {
        border: none;
        border-radius: 10em;
        width: 80vw;
        padding: 2vh 2vh 2vh 6vh;
        font-size: 2vh;
        &:focus {
            outline: none !important;
            border: 1px solid #27A1DA;
        }
        @include desktop {
            width: 70vw;
            font-size: 1rem;
            padding: 1.25vh 1.25vh 1.25vh 5vh;
        }
        @include monitor {
            width: 40vw;
            font-size: 1rem;
            padding: 2vh 2vh 2vh 5vw;
        }
    }
    ::placeholder {
        color: #ACA9A9;
        font-weight: 300;
        font-size: 2.5vh;
        @include desktop {
            font-size: 1.125rem;
        }
    }
    .search-icon {
        position: absolute;
        padding: 2vh 0 .5vw 2vh;
        @include desktop {
            padding: 1vw 0 0 2vw;
        }
        @include monitor {
            padding: .55vw 0 .5vw 1vw;
        }
    }
}
